body {
  background-color: white;
}

header {
  text-align: center;
  font-size: xx-large;
  padding: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  min-width: 30%;
  min-height: 300px;
  -webkit-box-shadow: 1px 1px 1px 2px #000000;
  box-shadow: 1px 1px 1px 2px #000000;
  background-color: white;
  margin: 10px auto;
  border-radius: 25px;
}

#name {
  padding: 15px 0px;
}

label {
  font-size: larger;
}

input {
  background-color: rgb(196, 196, 196);
  width: 95%;
  min-height: 34px;
  font-size: 18px;
}

form {
  padding: 10px 15px;
  margin: 10px auto;
}

/* Sign-In button */

#sign-in {
  float: right;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 3px 7%;
  font-size: large;
}
